--
-- PostgreSQL database dump
--

\restrict XHpjAPEPVgSe1m38L3wvTrPT5Y3wT6pUAIEoJ6u8p61JVTawxLVbySWbbTaTtUt

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO supermais;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.categoria (
    id_categoria integer NOT NULL,
    nome character varying NOT NULL,
    margem_lucro double precision
);


ALTER TABLE public.categoria OWNER TO supermais;

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.categoria_id_categoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_id_categoria_seq OWNER TO supermais;

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.categoria_id_categoria_seq OWNED BY public.categoria.id_categoria;


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.cliente (
    id_cliente integer NOT NULL,
    cpf character varying NOT NULL,
    nome character varying NOT NULL,
    segmento_marketing character varying
);


ALTER TABLE public.cliente OWNER TO supermais;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.cliente_id_cliente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cliente_id_cliente_seq OWNER TO supermais;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.cliente_id_cliente_seq OWNED BY public.cliente.id_cliente;


--
-- Name: conta_pagar; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.conta_pagar (
    id_conta_pagar integer NOT NULL,
    id_nota integer NOT NULL,
    data_vencimento timestamp without time zone NOT NULL,
    valor double precision NOT NULL,
    status_pagamento character varying NOT NULL,
    CONSTRAINT ck_conta_pagar_status CHECK (((status_pagamento)::text = ANY ((ARRAY['pendente'::character varying, 'pago'::character varying, 'cancelado'::character varying])::text[]))),
    CONSTRAINT ck_conta_pagar_valor_positivo CHECK ((valor > (0)::double precision))
);


ALTER TABLE public.conta_pagar OWNER TO supermais;

--
-- Name: conta_pagar_id_conta_pagar_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.conta_pagar_id_conta_pagar_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conta_pagar_id_conta_pagar_seq OWNER TO supermais;

--
-- Name: conta_pagar_id_conta_pagar_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.conta_pagar_id_conta_pagar_seq OWNED BY public.conta_pagar.id_conta_pagar;


--
-- Name: conta_receber; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.conta_receber (
    id_conta_receber integer NOT NULL,
    id_venda integer NOT NULL,
    data_vencimento timestamp without time zone NOT NULL,
    valor double precision NOT NULL,
    status_pagamento character varying NOT NULL,
    CONSTRAINT ck_conta_receber_status CHECK (((status_pagamento)::text = ANY ((ARRAY['pendente'::character varying, 'pago'::character varying, 'cancelado'::character varying])::text[]))),
    CONSTRAINT ck_conta_receber_valor_positivo CHECK ((valor > (0)::double precision))
);


ALTER TABLE public.conta_receber OWNER TO supermais;

--
-- Name: conta_receber_id_conta_receber_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.conta_receber_id_conta_receber_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conta_receber_id_conta_receber_seq OWNER TO supermais;

--
-- Name: conta_receber_id_conta_receber_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.conta_receber_id_conta_receber_seq OWNED BY public.conta_receber.id_conta_receber;


--
-- Name: fluxo_caixa; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.fluxo_caixa (
    id_lancamento integer NOT NULL,
    id_conta_pagar integer,
    id_conta_receber integer,
    tipo_lancamento character varying NOT NULL,
    valor double precision NOT NULL,
    data_confirmacao timestamp without time zone NOT NULL,
    CONSTRAINT ck_fluxo_caixa_tipo_origem CHECK ((((id_conta_pagar IS NOT NULL) AND ((tipo_lancamento)::text = 'saida'::text)) OR ((id_conta_receber IS NOT NULL) AND ((tipo_lancamento)::text = 'entrada'::text)))),
    CONSTRAINT ck_fluxo_caixa_uma_origem CHECK ((((id_conta_pagar IS NOT NULL) AND (id_conta_receber IS NULL)) OR ((id_conta_pagar IS NULL) AND (id_conta_receber IS NOT NULL)))),
    CONSTRAINT ck_fluxo_caixa_valor_positivo CHECK ((valor > (0)::double precision))
);


ALTER TABLE public.fluxo_caixa OWNER TO supermais;

--
-- Name: fluxo_caixa_id_lancamento_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.fluxo_caixa_id_lancamento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fluxo_caixa_id_lancamento_seq OWNER TO supermais;

--
-- Name: fluxo_caixa_id_lancamento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.fluxo_caixa_id_lancamento_seq OWNED BY public.fluxo_caixa.id_lancamento;


--
-- Name: fornecedor; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.fornecedor (
    id integer NOT NULL,
    nome character varying,
    cnpj character varying,
    endereco character varying,
    telefone character varying
);


ALTER TABLE public.fornecedor OWNER TO supermais;

--
-- Name: fornecedor_id_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.fornecedor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fornecedor_id_seq OWNER TO supermais;

--
-- Name: fornecedor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.fornecedor_id_seq OWNED BY public.fornecedor.id;


--
-- Name: nota_fiscal; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.nota_fiscal (
    id_nota integer NOT NULL,
    id_pedido integer NOT NULL,
    numero_nota character varying NOT NULL,
    data_emissao timestamp without time zone NOT NULL,
    valor_total double precision NOT NULL,
    CONSTRAINT ck_nota_fiscal_valor_positivo CHECK ((valor_total > (0)::double precision))
);


ALTER TABLE public.nota_fiscal OWNER TO supermais;

--
-- Name: nota_fiscal_id_nota_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.nota_fiscal_id_nota_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nota_fiscal_id_nota_seq OWNER TO supermais;

--
-- Name: nota_fiscal_id_nota_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.nota_fiscal_id_nota_seq OWNED BY public.nota_fiscal.id_nota;


--
-- Name: pedido_compra; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.pedido_compra (
    id_pedido integer NOT NULL,
    id_fornecedor integer NOT NULL,
    data_pedido timestamp without time zone NOT NULL,
    status_pedido character varying NOT NULL,
    prazo_entrega_dias integer NOT NULL,
    CONSTRAINT ck_pedido_compra_prazo CHECK ((prazo_entrega_dias >= 0)),
    CONSTRAINT ck_pedido_compra_status CHECK (((status_pedido)::text = ANY ((ARRAY['pendente'::character varying, 'aprovado'::character varying, 'recebido'::character varying, 'cancelado'::character varying])::text[])))
);


ALTER TABLE public.pedido_compra OWNER TO supermais;

--
-- Name: pedido_compra_id_pedido_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.pedido_compra_id_pedido_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedido_compra_id_pedido_seq OWNER TO supermais;

--
-- Name: pedido_compra_id_pedido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.pedido_compra_id_pedido_seq OWNED BY public.pedido_compra.id_pedido;


--
-- Name: produto; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.produto (
    id_produto integer NOT NULL,
    id_categoria integer NOT NULL,
    nome character varying NOT NULL,
    codigo_barras character varying,
    preco_venda double precision NOT NULL
);


ALTER TABLE public.produto OWNER TO supermais;

--
-- Name: produto_id_produto_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.produto_id_produto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produto_id_produto_seq OWNER TO supermais;

--
-- Name: produto_id_produto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.produto_id_produto_seq OWNED BY public.produto.id_produto;


--
-- Name: unidade; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.unidade (
    id_unidade integer NOT NULL,
    nome character varying NOT NULL,
    tipo character varying NOT NULL
);


ALTER TABLE public.unidade OWNER TO supermais;

--
-- Name: unidade_id_unidade_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.unidade_id_unidade_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unidade_id_unidade_seq OWNER TO supermais;

--
-- Name: unidade_id_unidade_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.unidade_id_unidade_seq OWNED BY public.unidade.id_unidade;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    id_unidade integer,
    nome character varying,
    login character varying,
    senha_hash character varying NOT NULL,
    google_id character varying,
    foto_url character varying,
    ativo boolean
);


ALTER TABLE public.usuario OWNER TO supermais;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_usuario_seq OWNER TO supermais;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: venda; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.venda (
    id_venda integer NOT NULL,
    id_unidade integer,
    id_usuario integer,
    id_cliente integer,
    id_produto integer,
    data_hora timestamp without time zone DEFAULT now(),
    valor_total double precision,
    forma_pagamento character varying
);


ALTER TABLE public.venda OWNER TO supermais;

--
-- Name: venda_id_venda_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.venda_id_venda_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.venda_id_venda_seq OWNER TO supermais;

--
-- Name: venda_id_venda_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.venda_id_venda_seq OWNED BY public.venda.id_venda;


--
-- Name: venda_item; Type: TABLE; Schema: public; Owner: supermais
--

CREATE TABLE public.venda_item (
    id_item integer NOT NULL,
    id_venda integer NOT NULL,
    id_produto integer NOT NULL,
    quantidade integer NOT NULL,
    preco_unitario double precision NOT NULL,
    CONSTRAINT ck_venda_item_preco_positivo CHECK ((preco_unitario > (0)::double precision)),
    CONSTRAINT ck_venda_item_quantidade_positiva CHECK ((quantidade > 0))
);


ALTER TABLE public.venda_item OWNER TO supermais;

--
-- Name: venda_item_id_item_seq; Type: SEQUENCE; Schema: public; Owner: supermais
--

CREATE SEQUENCE public.venda_item_id_item_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.venda_item_id_item_seq OWNER TO supermais;

--
-- Name: venda_item_id_item_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: supermais
--

ALTER SEQUENCE public.venda_item_id_item_seq OWNED BY public.venda_item.id_item;


--
-- Name: categoria id_categoria; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id_categoria SET DEFAULT nextval('public.categoria_id_categoria_seq'::regclass);


--
-- Name: cliente id_cliente; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.cliente ALTER COLUMN id_cliente SET DEFAULT nextval('public.cliente_id_cliente_seq'::regclass);


--
-- Name: conta_pagar id_conta_pagar; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_pagar ALTER COLUMN id_conta_pagar SET DEFAULT nextval('public.conta_pagar_id_conta_pagar_seq'::regclass);


--
-- Name: conta_receber id_conta_receber; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_receber ALTER COLUMN id_conta_receber SET DEFAULT nextval('public.conta_receber_id_conta_receber_seq'::regclass);


--
-- Name: fluxo_caixa id_lancamento; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa ALTER COLUMN id_lancamento SET DEFAULT nextval('public.fluxo_caixa_id_lancamento_seq'::regclass);


--
-- Name: fornecedor id; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fornecedor ALTER COLUMN id SET DEFAULT nextval('public.fornecedor_id_seq'::regclass);


--
-- Name: nota_fiscal id_nota; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.nota_fiscal ALTER COLUMN id_nota SET DEFAULT nextval('public.nota_fiscal_id_nota_seq'::regclass);


--
-- Name: pedido_compra id_pedido; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.pedido_compra ALTER COLUMN id_pedido SET DEFAULT nextval('public.pedido_compra_id_pedido_seq'::regclass);


--
-- Name: produto id_produto; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.produto ALTER COLUMN id_produto SET DEFAULT nextval('public.produto_id_produto_seq'::regclass);


--
-- Name: unidade id_unidade; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.unidade ALTER COLUMN id_unidade SET DEFAULT nextval('public.unidade_id_unidade_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Name: venda id_venda; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda ALTER COLUMN id_venda SET DEFAULT nextval('public.venda_id_venda_seq'::regclass);


--
-- Name: venda_item id_item; Type: DEFAULT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda_item ALTER COLUMN id_item SET DEFAULT nextval('public.venda_item_id_item_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.alembic_version (version_num) FROM stdin;
9705b5761b85
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.categoria (id_categoria, nome, margem_lucro) FROM stdin;
1	string	330
2	Esportes	20
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.cliente (id_cliente, cpf, nome, segmento_marketing) FROM stdin;
\.


--
-- Data for Name: conta_pagar; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.conta_pagar (id_conta_pagar, id_nota, data_vencimento, valor, status_pagamento) FROM stdin;
1	1	2026-09-09 22:34:26.542146	100	pago
2	2	2026-09-09 22:34:34.541561	100	pago
\.


--
-- Data for Name: conta_receber; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.conta_receber (id_conta_receber, id_venda, data_vencimento, valor, status_pagamento) FROM stdin;
\.


--
-- Data for Name: fluxo_caixa; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.fluxo_caixa (id_lancamento, id_conta_pagar, id_conta_receber, tipo_lancamento, valor, data_confirmacao) FROM stdin;
1	1	\N	saida	100	2026-08-10 22:34:52.96618
2	2	\N	saida	100	2026-08-10 22:34:55.034154
\.


--
-- Data for Name: fornecedor; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.fornecedor (id, nome, cnpj, endereco, telefone) FROM stdin;
1	Cl├¡visson	81.077.858/0001-56	Rua Ramiro De Holanda Cavalcanti	87993938809
\.


--
-- Data for Name: nota_fiscal; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.nota_fiscal (id_nota, id_pedido, numero_nota, data_emissao, valor_total) FROM stdin;
1	1	898876897868999868	2026-08-10 22:34:26.518164	100
2	1	000000000000000000000000	2026-08-10 22:34:34.5288	100
\.


--
-- Data for Name: pedido_compra; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.pedido_compra (id_pedido, id_fornecedor, data_pedido, status_pedido, prazo_entrega_dias) FROM stdin;
1	1	2026-08-10 22:34:01.988489	aprovado	5
\.


--
-- Data for Name: produto; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.produto (id_produto, id_categoria, nome, codigo_barras, preco_venda) FROM stdin;
1	1	Produto 1	20202020200003	40
3	1	PS%	333333333333333	3000
\.


--
-- Data for Name: unidade; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.unidade (id_unidade, nome, tipo) FROM stdin;
1	CAmpinas	PDV
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.usuario (id_usuario, id_unidade, nome, login, senha_hash, google_id, foto_url, ativo) FROM stdin;
1	1	clivisson	clivisson@gmail.com	$2b$12$nqPtYlmFqOiFzNk9kJtltObaBmBWmLOUQjW.W0eZwmo1LLO/0TOja	\N	\N	t
2	1	Clivisson	clivisson1@gmail.com	$2b$12$eK7EQEKOe6LEu.rBg8fKUOLetjWz4Y.Nfh33sqXIbJczb830EWKke	\N	\N	t
\.


--
-- Data for Name: venda; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.venda (id_venda, id_unidade, id_usuario, id_cliente, id_produto, data_hora, valor_total, forma_pagamento) FROM stdin;
\.


--
-- Data for Name: venda_item; Type: TABLE DATA; Schema: public; Owner: supermais
--

COPY public.venda_item (id_item, id_venda, id_produto, quantidade, preco_unitario) FROM stdin;
\.


--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.categoria_id_categoria_seq', 2, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.cliente_id_cliente_seq', 1, false);


--
-- Name: conta_pagar_id_conta_pagar_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.conta_pagar_id_conta_pagar_seq', 2, true);


--
-- Name: conta_receber_id_conta_receber_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.conta_receber_id_conta_receber_seq', 1, false);


--
-- Name: fluxo_caixa_id_lancamento_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.fluxo_caixa_id_lancamento_seq', 2, true);


--
-- Name: fornecedor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.fornecedor_id_seq', 1, true);


--
-- Name: nota_fiscal_id_nota_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.nota_fiscal_id_nota_seq', 2, true);


--
-- Name: pedido_compra_id_pedido_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.pedido_compra_id_pedido_seq', 1, true);


--
-- Name: produto_id_produto_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.produto_id_produto_seq', 3, true);


--
-- Name: unidade_id_unidade_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.unidade_id_unidade_seq', 1, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 2, true);


--
-- Name: venda_id_venda_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.venda_id_venda_seq', 1, false);


--
-- Name: venda_item_id_item_seq; Type: SEQUENCE SET; Schema: public; Owner: supermais
--

SELECT pg_catalog.setval('public.venda_item_id_item_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id_categoria);


--
-- Name: cliente cliente_cpf_key; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_cpf_key UNIQUE (cpf);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: conta_pagar conta_pagar_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_pagar
    ADD CONSTRAINT conta_pagar_pkey PRIMARY KEY (id_conta_pagar);


--
-- Name: conta_receber conta_receber_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_receber
    ADD CONSTRAINT conta_receber_pkey PRIMARY KEY (id_conta_receber);


--
-- Name: fluxo_caixa fluxo_caixa_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa
    ADD CONSTRAINT fluxo_caixa_pkey PRIMARY KEY (id_lancamento);


--
-- Name: fornecedor fornecedor_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fornecedor
    ADD CONSTRAINT fornecedor_pkey PRIMARY KEY (id);


--
-- Name: nota_fiscal nota_fiscal_numero_nota_key; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.nota_fiscal
    ADD CONSTRAINT nota_fiscal_numero_nota_key UNIQUE (numero_nota);


--
-- Name: nota_fiscal nota_fiscal_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.nota_fiscal
    ADD CONSTRAINT nota_fiscal_pkey PRIMARY KEY (id_nota);


--
-- Name: pedido_compra pedido_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.pedido_compra
    ADD CONSTRAINT pedido_compra_pkey PRIMARY KEY (id_pedido);


--
-- Name: produto produto_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT produto_pkey PRIMARY KEY (id_produto);


--
-- Name: unidade unidade_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.unidade
    ADD CONSTRAINT unidade_pkey PRIMARY KEY (id_unidade);


--
-- Name: conta_pagar uq_conta_pagar_id_nota; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_pagar
    ADD CONSTRAINT uq_conta_pagar_id_nota UNIQUE (id_nota);


--
-- Name: conta_receber uq_conta_receber_id_venda; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_receber
    ADD CONSTRAINT uq_conta_receber_id_venda UNIQUE (id_venda);


--
-- Name: fluxo_caixa uq_fluxo_caixa_conta_pagar; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa
    ADD CONSTRAINT uq_fluxo_caixa_conta_pagar UNIQUE (id_conta_pagar);


--
-- Name: fluxo_caixa uq_fluxo_caixa_conta_receber; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa
    ADD CONSTRAINT uq_fluxo_caixa_conta_receber UNIQUE (id_conta_receber);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: venda_item venda_item_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda_item
    ADD CONSTRAINT venda_item_pkey PRIMARY KEY (id_item);


--
-- Name: venda venda_pkey; Type: CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT venda_pkey PRIMARY KEY (id_venda);


--
-- Name: ix_fornecedor_cnpj; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_fornecedor_cnpj ON public.fornecedor USING btree (cnpj);


--
-- Name: ix_fornecedor_id; Type: INDEX; Schema: public; Owner: supermais
--

CREATE INDEX ix_fornecedor_id ON public.fornecedor USING btree (id);


--
-- Name: ix_fornecedor_nome; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_fornecedor_nome ON public.fornecedor USING btree (nome);


--
-- Name: ix_usuario_google_id; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_usuario_google_id ON public.usuario USING btree (google_id);


--
-- Name: ix_usuario_id_usuario; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_usuario_id_usuario ON public.usuario USING btree (id_usuario);


--
-- Name: ix_usuario_login; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_usuario_login ON public.usuario USING btree (login);


--
-- Name: ix_usuario_nome; Type: INDEX; Schema: public; Owner: supermais
--

CREATE UNIQUE INDEX ix_usuario_nome ON public.usuario USING btree (nome);


--
-- Name: conta_pagar conta_pagar_id_nota_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_pagar
    ADD CONSTRAINT conta_pagar_id_nota_fkey FOREIGN KEY (id_nota) REFERENCES public.nota_fiscal(id_nota);


--
-- Name: conta_receber conta_receber_id_venda_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.conta_receber
    ADD CONSTRAINT conta_receber_id_venda_fkey FOREIGN KEY (id_venda) REFERENCES public.venda(id_venda);


--
-- Name: fluxo_caixa fluxo_caixa_id_conta_pagar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa
    ADD CONSTRAINT fluxo_caixa_id_conta_pagar_fkey FOREIGN KEY (id_conta_pagar) REFERENCES public.conta_pagar(id_conta_pagar);


--
-- Name: fluxo_caixa fluxo_caixa_id_conta_receber_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.fluxo_caixa
    ADD CONSTRAINT fluxo_caixa_id_conta_receber_fkey FOREIGN KEY (id_conta_receber) REFERENCES public.conta_receber(id_conta_receber);


--
-- Name: nota_fiscal nota_fiscal_id_pedido_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.nota_fiscal
    ADD CONSTRAINT nota_fiscal_id_pedido_fkey FOREIGN KEY (id_pedido) REFERENCES public.pedido_compra(id_pedido);


--
-- Name: pedido_compra pedido_compra_id_fornecedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.pedido_compra
    ADD CONSTRAINT pedido_compra_id_fornecedor_fkey FOREIGN KEY (id_fornecedor) REFERENCES public.fornecedor(id);


--
-- Name: produto produto_id_categoria_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT produto_id_categoria_fkey FOREIGN KEY (id_categoria) REFERENCES public.categoria(id_categoria);


--
-- Name: usuario usuario_id_unidade_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_unidade_fkey FOREIGN KEY (id_unidade) REFERENCES public.unidade(id_unidade);


--
-- Name: venda venda_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT venda_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente);


--
-- Name: venda venda_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT venda_id_produto_fkey FOREIGN KEY (id_produto) REFERENCES public.produto(id_produto);


--
-- Name: venda venda_id_unidade_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT venda_id_unidade_fkey FOREIGN KEY (id_unidade) REFERENCES public.unidade(id_unidade);


--
-- Name: venda venda_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda
    ADD CONSTRAINT venda_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: venda_item venda_item_id_produto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda_item
    ADD CONSTRAINT venda_item_id_produto_fkey FOREIGN KEY (id_produto) REFERENCES public.produto(id_produto);


--
-- Name: venda_item venda_item_id_venda_fkey; Type: FK CONSTRAINT; Schema: public; Owner: supermais
--

ALTER TABLE ONLY public.venda_item
    ADD CONSTRAINT venda_item_id_venda_fkey FOREIGN KEY (id_venda) REFERENCES public.venda(id_venda);


--
-- PostgreSQL database dump complete
--

\unrestrict XHpjAPEPVgSe1m38L3wvTrPT5Y3wT6pUAIEoJ6u8p61JVTawxLVbySWbbTaTtUt

